.list{
    color: #fff;
    width: 340px;
    margin: 20px ;
    height: 30px;
    background-color: gray;
    border-radius: 0px;
}
.list p{
    padding: 5px;
    position: relative;
    transition: ease-in-out;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
